<div class="signup-panel">
              <p class="eyebrow">Registration</p>
              <h1>Sign up for the online retreat here</h1>
              <p class="lead">
                Receive the reflections from the retreat directly by email and
                let Carmelite Spirituality guide your journey through Advent or
                Lent
              </p>

              <div
                class="form-placeholder"
                aria-label="Platzhalter für Anmeldeformular"
              >
                <div class="embed-box">
                  <section class="section-intro" id="abonniere">
                    <div id="mc_embed_shell">
                      <div id="mc_embed_signup">
                        <form
                          action="https://eepurl.us6.list-manage.com/subscribe/post?u=7c9d2aa0ecc1fde64fd44bc67&amp;id=48970c68bf&amp;f_id=008a54e3f0"
                          method="post"
                          id="mc-embedded-subscribe-form"
                          name="mc-embedded-subscribe-form"
                          class="validate"
                          target="_self"
                          novalidate=""
                        >
                          <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                              <label for="mce-EMAIL"
                                >Email Address* (required)</label
                              ><input
                                type="email"
                                name="EMAIL"
                                class="required email"
                                id="mce-EMAIL"
                                required=""
                                value=""
                              />
                            </div>
                            <div class="mc-field-group">
                              <label for="mce-FNAME">First Name </label
                              ><input
                                type="text"
                                name="FNAME"
                                class="text"
                                id="mce-FNAME"
                                value=""
                              />
                            </div>
                            <div class="mc-field-group">
                              <label for="mce-LNAME">Last Name </label
                              ><input
                                type="text"
                                name="LNAME"
                                class="text"
                                id="mce-LNAME"
                                value=""
                              />
                            </div>
                            <div class="mc-field-group">
                              <label for="mce-MMERGE3">Country </label
                              ><input
                                type="text"
                                name="MMERGE3"
                                class="text"
                                id="mce-MMERGE3"
                                value=""
                              />
                            </div>
                            <div class="mc-field-group">
                              <label for="mce-MMERGE4"
                                >How did you hear about the retreat? </label
                              ><select name="MMERGE4" class="" id="mce-MMERGE4">
                                <option value=""></option>
                                <option value="Please select...">
                                  Please select...
                                </option>
                                <option
                                  value="ICS Publications (website / email)"
                                >
                                  ICS Publications (website / email)
                                </option>
                                <option
                                  value="Parish, monastery, or Carmelite community"
                                >
                                  Parish, monastery, or Carmelite community
                                </option>
                                <option
                                  value="Friend, family member, or colleague"
                                >
                                  Friend, family member, or colleague
                                </option>
                                <option value="Search engine (Google, etc.)">
                                  Search engine (Google, etc.)
                                </option>
                                <option
                                  value="Social Media (Instagram, Facebook, etc.)"
                                >
                                  Social Media (Instagram, Facebook, etc.)
                                </option>
                                <option value="Other (please specify)">
                                  Other (please specify)
                                </option>
                              </select>
                            </div>
                            <div class="mc-field-group">
                              <label for="mce-HOWFOUND2"
                                >Other (please specify) </label
                              ><input
                                type="text"
                                name="HOWFOUND2"
                                class="text"
                                id="mce-HOWFOUND2"
                                value=""
                              />
                            </div>
                            <div id="mce-responses" class="clear">
                              <div
                                class="response"
                                id="mce-error-response"
                                style="display: none"
                              ></div>
                              <div
                                class="response"
                                id="mce-success-response"
                                style="display: none"
                              ></div>
                            </div>
                            <div
                              style="position: absolute; left: -5000px"
                              aria-hidden="true"
                            >
                              <input
                                type="text"
                                name="b_7c9d2aa0ecc1fde64fd44bc67_48970c68bf"
                                tabindex="-1"
                                value=""
                              />
                            </div>
                            <div class="clear">
                              <input
                                type="submit"
                                name="subscribe"
                                id="mc-embedded-subscribe"
                                class="button-signup"
                                value="Subscribe"
                              />
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div class="datenschutz-toggle">
                <a
                  href="#datenschutz-wrap"
                  id="datenschutz-toggle"
                  aria-expanded="false"
                  aria-controls="datenschutz-wrap"
                  >Privacy Policy</a
                >
                <div id="datenschutz-wrap" hidden>
                  <p style="font-size: 14px">
                    We use Mailchimp as our marketing plattform. By clicking the
                    "Subscribe" button, you agree to have your data transferred
                    to Mailchimp for processing.
                  </p>
                  <a
                    class="plain-link"
                    href="https://mailchimp.com/legal/terms/"
                    target="_blank"
                    rel="noopener noreferrer"
                    style="
                      display: inline-block;
                      font-size: 14px;
                      font-weight: 200;
                      text-decoration: none;
                    "
                  >
                    You can find out more about Mailchimp's data protection
                    policy here.
                  </a>
                </div>
              </div>
            </div>